* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(223, 70, 96);

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(253, 210, 110);
    height: 100px;

    font-family: sans-serif;
    font-size: 18px;

    margin-bottom: 5px;

    box-shadow: rgba(4, 4, 5, 0.418) 0px 10px 10px -10px;
}

/* Inicio - transiçao do nav para branco ao descer a pagina */
/* Funcionando junto ao Javascript - linhas 6-14 */
nav.ativo {
    background: white;
    transition: 1s;
}

section{
    width: 100%;
}

/* Fim*/

footer {
    background-color: rgb(237, 102, 117);
    display: block;
    height: 104px;

    text-align: center;
    color: #8B0000;

    font-family: sans-serif;
    font-size: 15px;

    box-shadow: rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    margin-top: auto;
}

#logo {
    justify-content: center;

    padding-top: 23px;
    padding-right: 545px;
}

#refs {
    height: 100px;

    padding-top: 37px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(154, 0, 57);

    padding-right: 30px;

    cursor: pointer;
}

img {
    width: 105px;
}

.logo {
    width: 100%;
}

h4 {
    margin-top: 28px;
    padding-bottom: 2px;
}

h5 {
    font-size: 11px;
}

/* fim da base da pagina */

.bloco{

    background-color: rgb(253, 210, 110);

    height: 550px;
    width: 790px;

    margin: 40px auto 40px auto;

    display: grid;

    
    justify-content: center;
    align-content: center;

    gap: 10px;

}

#formulario_bloco{
    background-color: white;
    width: max-content;
    margin-bottom: 30px;
}

form{
    display: grid;
    padding: 20px 20px 20px 20px;
    width: 660px;
}

textarea{
    resize: none;
    border-color: #C8C8C8;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;

    padding: 6px;

    font-family: monospace;

    height: 100px;

    margin: 5px 0px 0px 0px;
}

p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;

    text-align: justify;

    color: rgb(237, 102, 117);

    padding-top: 30px;
    padding-left: 20px;
}

label{
    color: #969696;

    font-family: sans-serif;
    text-align: justify;

}

input, select{
    border-color: #C8C8C8;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;

    padding: 6px;

    font-family: monospace;

    height: 30px;

    margin: 5px 0px 10px 0px;

    box-shadow: rgba(50, 50, 93, 0.25) 1px 12px 5px -12px inset;
}

#numero{
    display: flex;
    flex-direction: row;
    gap: -8vh;
}

#ddd{
    width: 35px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

#tel_cliente{
    width: 100px;
    text-align: center;
}

#btn{
    background-color: #1AB1AB;

    color: white;

    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;

    width: auto;
    height: 29px;

    border-radius: 30px;
    border: none;

    margin-top: 10px;

    cursor: pointer;
}