* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(223, 70, 96);

    display: flex;
    flex-direction: column;

    min-height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(253, 210, 110);
    height: 100px;

    font-family: sans-serif;
    font-size: 18px;

    margin-bottom: 5px;

    box-shadow: rgba(4, 4, 5, 0.418) 0px 10px 10px -10px;
}

/* Inicio - transiçao do nav para branco ao descer a pagina */
/* Funcionando junto ao Javascript - linhas 6-14 */
nav.ativo {
    background: white;
    transition: 1s;
}

section{
    width: 100%;
}

/* Fim*/

footer {
    background-color: rgb(237, 102, 117);
    display: block;
    height: 104px;

    text-align: center;
    color: #8B0000;

    font-family: sans-serif;
    font-size: 15px;

    box-shadow: rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    margin-top: auto;
}

h4 {
    margin-top: 28px;
    padding-bottom: 2px;
}

h5 {
    font-size: 11px;
}

#logo {
    justify-content: center;

    padding-top: 23px;
    padding-right: 545px;
}

#refs {
    height: 100px;

    padding-top: 37px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(154, 0, 57);

    padding-right: 30px;

    cursor: pointer;
}

img {
    width: 105px;
}

.logo {
    width: 100%;
}

#franquia {
    width: 75%;

    margin: 0px 50px 0px 180px;
}

#onda_amarela {
    width: 100%;
}

.beneficios {
    display: flex;
    flex-direction: row;

    height: 300px;

    gap: 160px;

    justify-content: center;

    margin-bottom: 30vh;
    margin-top: 10vh;
}

.suporte {
    font-family: sans-serif;
    font-size: 16px;

    height: max-content;
}

#doceBanana {
    height: 300px;
    width: 230px;

    margin-left: 56px;
}

.descontos {
    font-family: sans-serif;
    font-size: 16px;
}

#escrito_vantagens {
    text-align: center;

    font-size: 50px;
    font-family: sans-serif;

    color: white;
}

#vantagem {
    font-size: 90px;
    text-align: center;
}

#div_vant {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 130px;

    margin-top: 10vh;
}

#raio {
    width: 50px;
    height: 60px;

    transform: rotate(-30deg);
}

#coracao {
    width: 53px;
    height: 53px;

    transform: rotate(60deg);

}

#div_coracao {
    margin-top: 70px;
}

#dente_doce {
    width: 190px;
    height: 190px;
    /* transform: rotate(-19deg); */
}

#div_dente {
    margin-top: 50px;
}

#box {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #ED6675;
    color: white;
    font-size: 25px;

    width: 280px;
    height: 116px;

    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#box:hover {
    transform: scale(1.1);
    transition: 1s;
}

#texto_vantagens {
    display: flex;
    flex-direction: column;

    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;

    text-align: center;
    color: white;

    margin-top: 30px;
    gap: 10px;
}

#linha {
    height: 20px;
    width: 400px;
}

.linha {
    text-align: center;

    margin-bottom: 30px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
}

#letras_em_amarelo {
    font-size: 64px;

    text-align: center;
}

#letras_em_branco {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 44px;
    color: white;
}

#convite {
    margin-bottom: 30px;
}

#fazer_parte_alguma_duvida {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 27px;
    color: white;
}

button {
    height: 29px;
    width: 228px;

    background-color: white;
    color: black;

    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;

    border: none;
    border-radius: 30px;

    margin: 15px 0px 15px 0px;

    cursor: pointer;

}

button:hover {
    background-color: #FDD26E;
    color: #ED6675;
    transition: 0.3s;

    transform: translateY(4px);
    /* move o bloco no eixo (y) dando
    a impressao de ir para baixo */
}
